<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="card shadow" [formGroup]="voucherForm" (ngSubmit)="onSubmit()" [loading]="isLoading">
            <h1 class="card-header">Create / Update Voucher</h1>
            <div class="card-body">
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>#</mat-label>
                    <input type="number" matInput="" formControlName="id" (blur)="onIdFieldChange()" />
                </mat-form-field>
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Giver</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Creditor" matInput formControlName="cr" [matAutocomplete]="creditor" #firstInputField />
                    <mat-autocomplete autoActiveFirstOption #creditor="matAutocomplete" [displayWith]="displayFunction">
                        <mat-option *ngFor="let creditor of filteredCreditor | async" [value]="creditor">
                            <div class="d-flex justify-content-between w-100">
                                <span class="d-none d-md-inline">{{ creditor.id }}</span>
                                <span>{{ creditor.title }}</span>
                                <span class="d-none d-md-inline">{{ creditor.kind }}</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="d-block" appearance="outline">
                    <mat-label>Receiver</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Creditor" matInput formControlName="dr" [matAutocomplete]="debtor" />
                    <mat-autocomplete autoActiveFirstOption #debtor="matAutocomplete" [displayWith]="displayFunction">
                        <mat-option *ngFor="let debtor of filteredDebtor | async" [value]="debtor">
                            <div class="d-flex justify-content-between">
                                <span class="d-none d-md-inline">{{ debtor.id }}</span>
                                <span>{{ debtor.title }}</span>
                                <span class="d-none d-md-inline">{{ debtor.kind }}</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Narration</mat-label>
                    <textarea matInput formControlName="narration" rows="5"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput formControlName="amount" min="0" (focus)="onAmountFieldFocus()" />
                    <mat-error *ngIf="voucherForm.amountFormControl.invalid && (voucherForm.amountFormControl.dirty || voucherForm.amountFormControl.touched)">
                        <span *ngIf="voucherForm.amountFormControl.hasError('required')">
                            Amount is Required for Voucher Entry
                        </span>
                        <span *ngIf="voucherForm.hasError('min')">
                            Amount Must Be A Greater than 0
                        </span>
                    </mat-error>
                </mat-form-field>
                <button type="submit" class="btn m-1" mat-raised-button color="primary" [disabled]="voucherForm.invalid">
                    Submit
                </button>
                <button type="reset" class="btn m-1" mat-raised-button color="warn">
                    Reset Form
                </button>
            </div>
        </form>
    </div>
</div>