<div class="row g-2 vh-100" [ngClass]="color">
    <div class="col-md-4 col-sm-6 d-print-none d-flex flex-column">
        <div class="row">
            <div class="col-12 mb-0">
                <app-navigation-btn ></app-navigation-btn>
            </div>
            <div class="col-12 mt-0">
                <router-outlet ></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-6">
        <app-preview-invoice [showButtons]="false"></app-preview-invoice>
    </div>
</div>
