<div class="shadow card">
    <div class="card-header">
        Location
    </div>
    <div class="card-body">
        <form>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Id</mat-label>
                <input matInput type="number" min="1" step="1">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput type="text" minlength="3">
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </div>
</div>