<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card" [loading]="loading">
            <div class="card-header">
                Create New Bundles
            </div>
            <div class="card-body">
                <form [formGroup]="bundleFormGroup" (ngSubmit)="onSubmit()">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input type="text" matInput formControlName="title">
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Rate</mat-label>
                        <input type="number" matInput formControlName="rate">
                    </mat-form-field>
                    <button type="submit" mat-raised-button class="w-100 py-4" color="primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>