<nav class="mx-3 mt-3 d-grid gap-1 d-print-none">
  <a mat-flat-button [routerLink]="['']">
    <mat-icon>home</mat-icon>
    <strong>Dashboard</strong>
  </a>

  <mat-accordion>
    @for (item of items; track item) {
      @if (hasRole(item.role)) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="d-flex flex-column">
            @for (link of item.links; track link) {
              @if (hasRole(link.role)) {
                <a
                  mat-flat-button
                  [routerLink]="link.routerLink"
                  (click)="onLinkClick()"
                  >{{ link.text }}</a
                >
              }
            }
          </p>
        </mat-expansion-panel>
      }
    }
  </mat-accordion>
</nav>
