<table class="table table-hover table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Amount (INR)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices$ | async" (click)="previewInvoice(invoice.id)">
        <td>{{ invoice.id }}</td>
        <td>{{ getContactName(invoice.contact_id) }}</td>
        <td class="text-right">{{ invoice.gross_amount - invoice.discount_amount | currency:'INR' }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-2">
    <div class="col">
        <button mat-raised-button color="primary" class="p-3 w-100" [disabled]="isFirst()" (click)="previousPage()">
            <mat-icon>arrow_back</mat-icon>
            Prev
        </button>
    </div>
    <div class="col">
        <button mat-raised-button color="primary" class="p=3 w-100" [disabled]="isLast()" (click)="nextPage()">
            Next
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>