<div class="row d-flex justify-content-center g-3">
    <div class="col-lg-4 col-md-4">
        <mat-tab-group>
            <mat-tab label="By Date">
                <app-search-by-date class="mt-2"></app-search-by-date>
            </mat-tab>
            <mat-tab label="By Name">
                <app-search-by-contact class="mt-2"></app-search-by-contact>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-lg-4 col-md-8">
        <app-list-invoice></app-list-invoice>
    </div>
</div>