<section class="card">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="card-body">
      <mat-form-field class="w-100">
        <mat-label>Existing Customer</mat-label>
        <input
          type="text"
          matInput
          [formControl]="contactForm.contactField"
          list="select-contact"
          autocomplete="off"
        />
        <datalist id="select-contact">
          <option *ngFor="let contact of contacts | async" [value]="contact.id + ':' + contact.title">
            {{ contact.title }}
          </option>
        </datalist> 
        <mat-error>
          <span *ngIf="contactForm.contactField.hasError('required')">
            Contact Field is Required
          </span>
          <span *ngIf="contactForm.contactField.hasError('pattern')">
            Invalid Pattern Data.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </section>