<form action="" class="card shadow">
    <div class="card-body">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account</mat-label>
            <mat-select>
                <mat-option>Cash</mat-option>
                <mat-option>Bank</mat-option>
                <mat-option>Other</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>From Date</mat-label>
            <input matInput type="date">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>To Date</mat-label>
            <input matInput type="date">
        </mat-form-field>
    </div>
</form>