<div class="card">
    <form class="card-body" [formGroup]="discountFG" (ngSubmit)="onSetDiscount()">
        <mat-form-field appearance="fill" class="w-100" appearance="outline">
            <mat-label>Set Discount</mat-label>
            <input #firstInputField type="number" matInput [formControl]="discountAmountFC" class="text-center" step="1" min="0">
          </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="w-100 mt-2">Submit</button>
    </form>
</div>