<div class="row d-flex justify-content-center" [loading]="loading">
    <div class="col-lg-4 col-md-6">
        <h3 class="text-center">Products</h3>
        <div class="list-group">
            <a [routerLink]="['../edit', product.id]" class="list-group-item list-group-item-action" *ngFor="let product of (products | async)">
                {{ product.title }}
            </a>
        </div>


        <!-- Pagination -->
        <div class="d-flex justify-content-center mt-3 g-3">
            <button mat-raised-button color="primary" (click)="prevPage()" [hidden]="!hasPrev">
                <mat-icon>arrow_backward</mat-icon>Previous</button>
            <button mat-raised-button color="primary" (click)="nextPage()" [hidden]="!hasNext">
                <mat-icon>arrow_forward</mat-icon>Next
            </button>
        </div>
    </div>
</div>