<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <h3 class="card-header fs-3">
                Create New Voucher
            </h3>
            <div class="card-body">
                <form action="">
                    <mat-form-field class="w-100">
                        <mat-label>id</mat-label>
                        <input type="number" matInput="">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Creditor</mat-label>
                        <input type="text" matInput="">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Debtor</mat-label>
                        <input type="text" matInput="">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Narration</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput="">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>