<div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-6">
        <h3 class="text-center">
            List of Locations
        </h3>

        <mat-accordion [loading]="loading">
            <mat-expansion-panel *ngFor="let location of locations | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ location.title }}</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="d-flex g-3">
                    <a mat-raised-button color="primary" class="me-3" [routerLink]="['../view', location.id]">
                        View
                    </a>
                    <a mat-raised-button color="secondary" [routerLink]="['../edit', location.id]">
                        Edit
                    </a>
                </p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>