<div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-6">
        <div class="shadow card">
            <div class="card-header">
                StoreLocation
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" minlength="3" formControlName="title">
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary" class="w-100">
                        <span *ngIf="editMode;else createMode">Update StoreLocation</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #createMode>
    Create StoreLocation
</ng-template>