<div style="overflow-y: scroll; max-height: 80vh;" *ngIf="rowCount > 0;else noDataMessage">
    <table class="table table-raised table-bordered table-hover table-sm">
        <thead class="text-center table-dark">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Transfer</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of rows| async;let i = index">
                <td>
                    <a [routerLink]="['/auth', 'accounting', 'voucher', v.id]">
                        {{ v.id }}
                    </a>
                </td>
                <td>{{ v.date | date: 'd/M/yy' }}</td>
                <td>{{ v.transfer }}</td>
                <td>
                    <div *ngIf="hasUri(v.narration); else noUri">
                        <div *ngFor="let subNarration of splitWithDots(v.narration)">
                            <span>{{ splitText(subNarration)[0] }}</span>
                            <a [routerLink]=" ['/auth', 'invoices' , 'view' , splitText(v.narration)[1]]">
                                {{ splitText(subNarration)[1] }}
                            </a>
                        </div>
                    </div>

                    <ng-template #noUri>
                        {{ v.narration }}
                    </ng-template>
                </td>
                <td class="text-end pe-3" [ngClass]="v.dr > 0 ? 'table-success' : ''">{{ v.dr | currency:'INR' }}</td>
                <td class="text-end pe-3" [ngClass]="v.cr > 0 ? 'table-danger' : ''">{{ v.cr | currency:'INR' }}</td>
                <td class="text-end pe-3">{{ v.balance | currency:'INR' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noDataMessage>
    <div class="card bg-light text-center">
        <div class="card-body">
            There is No Data to Display for Selected Date or Account
        </div>
    </div>
</ng-template>