<div class="card" [loading]="loading">
    <div class="card-header">
        {{ title }}
    </div>
    <div class="card-body">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>{{ colTitleText }}</th>
                    <th>{{ colValueText }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>
                        {{ item.key }}
                    </td>
                    <td>
                        {{ item.value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>