<table class="table shadow border">
    <thead>
        <tr>
            <th>Description</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of templates | async;index as i">    
            <td>
                <mat-icon (click)="deleteItem(i, item.id)">delete</mat-icon>
                {{ item.title }}
            </td>
            <td>{{ item.rate | currency:'INR' }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.quantity * item.rate | currency: 'INR' }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Total
            </td>
            <td>{{ getTotalAmount$() | async | currency:'INR' }}</td>
        </tr>
    </tfoot>
</table>