<mat-accordion>
    <mat-expansion-panel [expanded]="hasRecent">
        <mat-expansion-panel-header>
            <mat-panel-title>Recent Payment Method</mat-panel-title>
        </mat-expansion-panel-header>
        <app-recent-payment-btn></app-recent-payment-btn>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="!hasRecent">
        <mat-expansion-panel-header>
            <mat-panel-title>Choose Payment Method</mat-panel-title>
        </mat-expansion-panel-header>
        <app-select-ledger-form></app-select-ledger-form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Prepaid</mat-panel-title>
        </mat-expansion-panel-header>
        <app-prepaid-vouchers></app-prepaid-vouchers>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Udhaar Payment</mat-panel-title>
        </mat-expansion-panel-header>
        <app-udhaar-payment-btn></app-udhaar-payment-btn>
    </mat-expansion-panel>

</mat-accordion>