<mat-tab-group>
    <mat-tab label="Overview">
        <div class="row mx-4 mt-4 g-4">
            <app-card-with-text class="col-md-4 col-lg-3" title="Current Location"
                [text]="myLocation.title"></app-card-with-text>
            <app-card-with-text class="col-md-4 col-lg-3" title="Income" dataUrl="todaysIncome"></app-card-with-text>
            <app-card-with-text class="col-md-4 col-lg-3" title="Expense" dataUrl="todaysExpense"></app-card-with-text>
        </div>
    </mat-tab>
    <mat-tab label="Accounts">
        <app-under-construction></app-under-construction>
    </mat-tab>
    <mat-tab label="Services">
        <app-under-construction></app-under-construction>
    </mat-tab>
    <mat-tab label="Payments">
        <app-under-construction></app-under-construction>
    </mat-tab>
</mat-tab-group>