<mat-tab-group>
    <mat-tab label="Overview">
        <div class="row mx-4 mt-4 g-4">
            <div class="col-md-4 col-lg-3">
                <app-card-with-text title="Current Location" [text]="myLocation.title"></app-card-with-text>
                <app-card-with-text class="p-1" title="My Sales" dataUrl="mySales"></app-card-with-text>
                <app-card-with-text class="p-1" title="Commissions" dataUrl="myCommission"></app-card-with-text>
            </div>
            <app-product-list class="col-md-6 col-lg-4" [location]="myLocation.id"></app-product-list>
        </div>
    </mat-tab>
    <mat-tab label="Accounts">
        <ng-template matTabContent>
            <div class="row mx-4 mt-4 g-4">
                <div class="col-md-3 col-lg-2">
                    <app-card-with-text class="p-1" title="Income" dataUrl="todaysIncome"></app-card-with-text>
                    <app-card-with-text title="Expense" dataUrl="todaysExpense"></app-card-with-text>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Services">
        <ng-template matTabContent>
            <app-under-construction></app-under-construction>
        </ng-template>
    </mat-tab>
    <mat-tab label="Payments">
        <ng-template matTabContent>
            <app-under-construction></app-under-construction>
        </ng-template>
    </mat-tab>
</mat-tab-group>