<div class="scrollable-container">
    <div class="card d-print-block border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="card card-body border-0 print-only">
                        <h2 class="fs-1 text-center">MAHARAJA COMPUTERS</h2>
                        <p class="text-center lh-0">
                            Kher Complex, Opp Civil Hospital, Ashoknagar (M.P.) PIN 473331
                            <br /> Ph. 9144268770; email: maharajac&#64;gmail.com; website: http://www.maharajac.in
                        </p>
                    </div>
                </div>
                <div class="col-4 print-only">
                    <app-invoice-info></app-invoice-info>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-contact-table></app-contact-table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-transactions-table></app-transactions-table>
                </div>
            </div>

            <div class="row mt-5 justify-content-end">
                <div class="col-6">
                    <app-payment-info></app-payment-info>
                </div>
                <div class="col-6">
                    <p class="text-end print-only">
                        Proprietor<br /><br /> Maharaja Computers
                    </p>
                </div>
            </div>

            <div class="row mt-3 g-3 print-only">
                <div class="col-6">
                    <h3 class="fs-5">Bank Details</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>MAHARAJA COMPUTERS</td>
                            </tr>
                            <tr>
                                <th>A/c</th>
                                <td>3514 9275 310</td>
                            </tr>
                            <tr>
                                <th>IFSC</th>
                                <td>SBIN 000 5089</td>
                            </tr>
                            <tr>
                                <th>Bank</th>
                                <td>State Bank Of India</td>
                            </tr>
                            <tr>
                                <th>Branch</th>
                                <td colspan="3">Mandi Road, Ashoknagar (M.P.) 473331</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-5">
                    <ul class="print-only border border-2 m-3 p-3">
                        <li>Thank you for Doing Business with Maharaja Computers</li>
                        <li>Goods / Services onces Rendered Shall Not be Taken Back.</li>
                        <li>
                            Please Make all your payments in the name of Maharaja Computers.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-2 d-print-none">
    <a class="btn btn-primary me-2 " [hidden]="invoiceId <= 0" [routerLink]="['/auth', 'invoices', 'create', 'sales']">
        Create New
    </a>

    <button type="button" class="btn btn-danger" [hidden]="invoiceId <= 0" (click)="onDeleteBtn()">
        Delete Invoice
    </button>
</div>