@if (showBtn()) {
    <div class="row gt-2 p-2 d-flex flex-row-reverse">
        <div class="col-6">
            <button [disabled]="isLast()" (click)="goForward()" mat-raised-button class="accent" class="w-100">
                <span>Next</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div class="col-6">
            <button (click)="goBack()" mat-raised-button class="accent" class="w-100">
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>Prev</span>
            </button>
        </div>
    
    </div>
}