<div class="card">
  <div class="card-header">Save Opening / Closing Balance</div>
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Ledger Name</mat-label>
        <mat-select formControlName="ledger" required>
          @for (l of ledgers | async; track l) {
            <mat-option [value]="l">
              {{ l.title }}
            </mat-option>
          }
        </mat-select>
        @if (ledger.invalid && (ledger.touched || ledger.dirty)) {
          <mat-error>
            Please Select a Ledger
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Opening Balance</mat-label>
        <input type="number" matInput formControlName="opening" min="0" required />
        @if (opening.invalid && (opening.dirty || opening.touched)) {
          <mat-error>
            @if (opening.hasError('required')) {
              <span>Please Enter Opening Balance</span>
            }
            @if (opening.hasError('min')) {
              <span>Opening Balance must be more than 0.</span>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Closing Balance</mat-label>
        <input type="number" matInput formControlName="closing" required />
        @if (closing.invalid && (closing.dirty || closing.touched)) {
          <mat-error>
            @if (closing.hasError('required')) {
              <span>Please Enter Closing Balance</span>
            }
            @if (closing.hasError('min')) {
              <span>Closing Balance must be more than 0.</span>
            }
          </mat-error>
        }
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="btn m-1" [disabled]="myForm.invalid">
        Submit
      </button>
      <button mat-flat-button color="warn" type="reset" class="btn m-1">
        Reset Form
      </button>
    </form>
  </div>
</div>