<form [formGroup]="form" class="card shadow mb-3" (ngSubmit)="onSubmit()">
    <div class="card-body">


        <mat-form-field class="w-100" appearance="outline">
            <mat-label for="fromDate" class="form-mat-label">From Date</mat-label>
            <input matInput [matDatepicker]="fromDate" class="form-control w-100" formControlName="fromDate">
            <mat-datepicker-toggle matIconSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label for="toDate" class="form-label">To Date</mat-label>
            <input matInput [matDatepicker]="toDate" class="form-control w-100" formControlName="toDate">
            <mat-datepicker-toggle matIconSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Giver</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Creditor" matInput formControlName="ledger"
                #firstInputField [matAutocomplete]="creditor" />
            <mat-autocomplete autoActiveFirstOption #creditor="matAutocomplete" [displayWith]="displayFunction">
                <mat-option *ngFor="let creditor of filteredLedgers | async" [value]="creditor">
                    <div class="d-flex flex-column w-100 border-top">
                        <strong>{{ creditor.title }}</strong>
                        <small>{{ creditor.kind }}</small>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="w-100 mt-2">View</button>
    </div>
</form>